
<div class="container mx-auto px-4 py-4">

    <div class="flex justify-end mb-4">
      <button (click)="toggleIssueForm()" class="bg-teal-900 text-white py-2 px-4 rounded-md shadow-md hover:bg-teal-700 transition">
        <i class="pi pi-plus mr-2"></i> Create Issue
      </button>
    </div>
    
    <!-- Navbar -->
    <nav class="flex items-center justify-between py-2 mb-4 bg-teal-900 text-white shadow-md rounded-lg">
      <div class="flex items-center text-xl font-medium px-4">
        <i class="pi pi-file-check mr-2"></i>Issues
      </div>
    </nav>
  
  
    <!-- Add Event Form -->
    <div *ngIf="isIssueFormVisible" class="bg-white p-6 rounded-md shadow-md mb-4 border border-gray-300 transition-all">
      <h2 class="text-lg font-semibold mb-4 text-primary">Create New Issue</h2>
      <form>
        <!-- Title -->
        <div class="mb-4">
          <label class="block text-sm font-medium text-gray-700">Title:</label>
          <input type="text" [(ngModel)]="newIssue.title" name="title" required class="w-full p-2 border rounded-md">
        </div>
        <!-- Location -->
        <div>
            <label class="block text-gray-700 font-medium">Location:</label>
            <select [(ngModel)]="newIssue.location.locationId" name="locationId"
                    class="w-full bg-white border border-gray-400 rounded-lg p-3 focus:ring-2 focus:ring-[#0A1B52] focus:border-[#0A1B52]" required>
              <option value="" disabled selected>Select Location</option>
              <option *ngFor="let location of locations" [value]="location.locationId">{{ location.county }}</option>
            </select>
          </div>
        <!-- Date -->
        <div class="mb-4">
          <label class="block text-sm font-medium text-gray-700">Date:</label>
          <input type="date" [(ngModel)]="newIssue.createdAt" name="createdAt" required class="w-full p-2 border rounded-md">
        </div>
        <!-- Description -->
        <div class="mb-4">
          <label class="block text-sm font-medium text-gray-700">Description:</label>
          <textarea [(ngModel)]="newIssue.description" name="description" required class="w-full p-2 border rounded-md"></textarea>
        </div>
        <!-- Image Upload -->
        <div class="mb-4">
          <label class="block text-sm font-medium text-gray-700">Issue Banner:</label>
          <input type="file" (change)="onImageUpload($event)" accept="image/*" class="w-full p-2 border rounded-md">
        </div>
        <!-- Image Preview -->
        <div *ngIf="newIssue.base64EncodedImage" class="mb-4">
          <img [src]="newIssue.base64EncodedImage" class="w-full max-h-48 rounded-md shadow-md object-cover" />
          <button type="button" (click)="clearImage()" class="mt-2 bg-red-500 text-white py-1 px-3 rounded-md hover:bg-red-600">
            <i class="pi pi-trash"></i> Remove Image
          </button>
        </div>
  
        <!-- Buttons -->
        <div class="flex justify-end gap-4">
          <button type="button" (click)="toggleIssueForm()" class="bg-gray-500 text-white py-2 px-4 rounded-md hover:bg-gray-600 transition-all">
            <i class="pi pi-times mr-2"></i> Cancel
          </button>
          <button type="submit" (click)="submitIssue()" class="bg-teal-900 text-white py-2 px-4 rounded-md hover:bg-success-dark transition-all">
            <i class="pi pi-check mr-2"></i> Submit
          </button>
        </div>
      </form>
    </div>
  
  
    <div class="font-[sans-serif] overflow-x-auto">
      <table value="events" class="min-w-full bg-white">
        <thead class="bg-teal-900 text-white">
          <tr>
            <th class="p-4 text-left text-sm font-semibold">
              <i class="pi pi-image mr-1"></i>Banner
            </th>
            <th class="p-4 text-left text-sm font-semibold">
              <i class="pi pi-tag mr-1"></i>Title
            </th>
            <th class="p-4 text-left text-sm font-semibold">
              <i class="pi pi-map-marker mr-1"></i>Description
            </th>
            <th class="p-4 text-left text-sm font-semibold">
              <i class="pi pi-calendar mr-1"></i>Status
            </th>
            <th class="p-4 text-left text-sm font-semibold">
              <i class="pi pi-info-circle mr-1"></i>Details
            </th>
          </tr>
        </thead>
        <tbody class="whitespace-nowrap divide-y divide-gray-200">
          <tr *ngFor="let issue of issues">
            <td class="p-4 text-sm">
              <div class="flex items-center">
                <img [src]="issue?.base64EncodedImage || 'assests/home.jpg'" class="w-24 h-24 p-1.5 shrink-0 bg-gray-100" />
              </div>
            </td>
            <td class="p-4 text-sm text-black">
              {{ issue?.title }}
            </td>
            <td class="p-4 text-sm text-black">
              {{ issue?.description?.slice(0, 50)}}
            </td>
            <td class="p-4 text-sm text-black">
              {{ issue?.status }}
            </td>
            <td class="p-4 text-sm text-center">
              <button (click)="showViewIssueModal(issue)" class="bg-gray-500 text-white py-1 px-3 rounded-md hover:bg-gray-600">
                <i class="pi pi-eye"></i> View
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <!-- View issue Modal-->
    <div *ngIf="isViewing" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
      <div class="bg-white p-6 rounded-md shadow-md relative w-full max-w-3xl mx-auto">
        <div class="flex justify-between items-center mb-4">
          <h2 class="text-xl font-semibold">Issue Details</h2>
          <button (click)="closeViewIssueModal()" class="text-gray-500 hover:text-gray-700">
            <i class="pi pi-times"></i>
          </button>
        </div>
        <div class="flex">
          <div class="w-2/3 pr-4">
            <div class="mb-4 flex items-center">
              <i class="pi pi-tag mr-2"></i>
              <div>
                <label class="text-sm font-medium">Title:</label>
                <input type="text" [(ngModel)]="selectedIssue.title" class="w-full p-2 border rounded-md">
              </div>
            </div>
            <div class="mb-4 flex items-center">
              <i class="pi pi-map-marker mr-2"></i>
              <div>
                <label class="text-sm font-medium">Location:</label>
                <input type="text" [(ngModel)]="selectedIssue.location.county" class="w-full p-2 border rounded-md">
              </div>
            </div>
            <div class="mb-4 flex items-center">
              <i class="pi pi-calendar mr-2"></i>
              <div>
                <label class="text-sm font-medium">Date:</label>
                <input type="date" [(ngModel)]="selectedIssue.createdAt" class="w-full p-2 border rounded-md">
              </div>
            </div>
            <div class="mb-4 flex items-center">
              <i class="pi pi-wallet mr-2"></i>
              <div>
                <label class="text-sm font-medium">Status:</label>
                <input type="text" [(ngModel)]="selectedIssue.status" class="w-full p-2 border rounded-md">
              </div>
            </div>
            <div class="mb-4 flex items-center">
              <i class="pi pi-align-left mr-2"></i>
              <div>
                <label class="text-sm font-medium">Description:</label>
                <textarea [(ngModel)]="selectedIssue.description" class="w-full p-2 border rounded-md"></textarea>
              </div>
            </div>
          </div>
          <div class="w-1/3">
            <div class="mb-4">
              <label class="text-sm font-medium mb-2">Banner Image:</label>
              <img [src]="selectedIssue?.base64EncodedImage || 'assests/home.png'" alt="Event Banner" class="w-full h-auto rounded-md" />
            </div>
          </div>
        </div>
        <div class="flex justify-end mt-4 gap-4">
          <button (click)="closeViewIssueModal()" class="bg-gray-500 text-white py-2 px-4 rounded-md hover:bg-gray-600">
            <i class="pi pi-times mr-2"></i> Close
          </button>
           <button (click)="updateIssue()" class="bg-gray-500 text-white py-2 px-4 rounded-md hover:bg-gray-500">
            <i class="pi pi-check mr-2"></i> Update
          </button> 
          <button (click)="deleteIssue()" class="bg-gray-500 text-white py-2 px-4 rounded-md hover:bg-gray-500">
            <i class="pi pi-trash mr-2"></i> Delete
          </button>
        </div>
      </div>
    </div> 
  </div>