/* 
*{
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    gap: 12px;
}
.dashboard-container{
    padding: 10px;
    border: 2px solid green;
    border-radius: 10px;
    width: 100%;
    
height: auto;
} */

/* .dashboard-container{
    display: flex;
    height: 100vh;
}
.main-content{
    flex: 1;
    padding: 20px;
    overflow-y: auto;

} */

.main-content {
    margin-left: 250px; /* Should match the sidebar width */
  }