<div class="bg-white shadow-lg rounded-2xl p-6 border border-gray-200 hover:shadow-2xl transition flex mb-6 max-w-4xl mx-auto">
  <img [src]="event.base64EncodedImage" alt="Event Banner" class="w-29 h-40 object-cover rounded-lg mr-4">

  <!-- Event Content -->
  <div class="flex-1">
    <div class="flex items-center space-x-3 text-gray-500 text-sm">
      <span><i class="pi pi-calendar mr-1"></i> {{ event.eventDate }}</span>
      <span><i class="pi pi-clock mr-1"></i> {{ event.time }}</span>
    </div>
    
    <h2 class="text-lg font-semibold text-gray-800 mt-2">{{ event.title || 'Tech Innovation Conference 2024' }}</h2>
    
    <p class="text-gray-600 text-sm mt-2">
      <i class="pi pi-align-left mr-2"></i>{{ event.description }}
    </p>

    <div class="flex items-center space-x-2 text-sm text-gray-700 mt-3">
      <span><i class="pi pi-map-marker mr-1"></i> {{ event.location.county}}</span>
    </div>
  </div>

  <!-- Speakers and Action Buttons -->
  <div class="flex flex-col items-end space-y-2">
    <div class="flex items-center space-x-2">
      <img src="assests/avatar.jpg" class="w-10 h-10 rounded-full" alt="Speaker 1">
      <img src="assests/avatar.jpg" class="w-10 h-10 rounded-full" alt="Speaker 2">
      <span class="text-sm text-gray-700">Speakers</span>
    </div>

    <button class="bg-blue-900 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition">
      RSVP
    </button>
  </div>
</div>
