<div class="event-card">
    <div class="event-card-container">
      <img [src]="event.imageUrl" alt="Event Image" class="event-image">
  
      <div class="event-details">
        <div class="event-meta">
          <span class="event-date">
            <i class="bi bi-calendar"></i> {{ event.date }}
          </span>
          <span class="event-time">
            <i class="bi bi-clock"></i> {{ event.time }}
          </span>
        </div>
  
        <h4 class="event-title">{{ event.title }}</h4>
        <p class="event-location">
          <i class="bi bi-geo-alt"></i> {{ event.location }}
        </p>
      </div>
  
      <div class="event-actions">
        <button class="btn btn-primary buy-ticket">RSVP</button>
        <div class="speakers">
          <img *ngFor="let speaker of event.speakers" [src]="speaker" class="speaker-img">
          <span class="badge badge-speakers">Speakers</span>
        </div>
      </div>
    </div>
  </div>
  