<div class="container mx-auto px-4 py-4">

  <div class="flex justify-end mb-4">
    <button (click)="toggleEventForm()" class="bg-teal-900 text-white py-2 px-4 rounded-md shadow-md hover:bg-teal-900 transition">
      <i class="pi pi-plus mr-2"></i> Create Event
    </button>
  </div>
  
  <!-- Navbar -->
  <nav class="flex items-center justify-between py-2 mb-4 bg-teal-900 text-white shadow-md rounded-lg">
    <div class="flex items-center text-xl font-medium px-4">
      <i class="pi pi-file-check mr-2"></i>Events
    </div>
  </nav>


  <!-- Add Event Form -->
  <div *ngIf="isEventFormVisible" class="bg-white p-6 rounded-md shadow-md mb-4 border border-gray-300 transition-all">
    <h2 class="text-lg font-semibold mb-4 text-primary">Create New Event</h2>
    <form (ngSubmit)="createEvent()">
      <!-- Title -->
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700">Title:</label>
        <input type="text" [(ngModel)]="newEvent.title" name="title" required class="w-full p-2 border rounded-md">
      </div>
      <!-- Location -->
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700">Location:</label>
        <input type="text" [(ngModel)]="newEvent.location.county" name="county" required class="w-full p-2 border rounded-md">
      </div>
      <!-- Date -->
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700">Date:</label>
        <input type="date" [(ngModel)]="newEvent.eventDate" name="eventDate" required class="w-full p-2 border rounded-md">
      </div>
      <!-- time -->
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700">Time:</label>
        <input type="time" [(ngModel)]="newEvent.time" name="time" required class="w-full p-2 border rounded-md">
      </div>
      <!-- Description -->
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700">Description:</label>
        <textarea [(ngModel)]="newEvent.description" name="description" required class="w-full p-2 border rounded-md"></textarea>
      </div>
      <!-- Image Upload -->
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700">Event Banner:</label>
        <input type="file" (change)="onImageUpload($event)" accept="image/*" class="w-full p-2 border rounded-md">
      </div>
      <!-- Image Preview -->
      <div *ngIf="newEvent.base64EncodedImage" class="mb-4">
        <img [src]="newEvent.base64EncodedImage" class="w-full max-h-48 rounded-md shadow-md object-cover" />
        <button type="button" (click)="clearImage()" class="mt-2 bg-red-500 text-white py-1 px-3 rounded-md hover:bg-red-600">
          <i class="pi pi-trash"></i> Remove Image
        </button>
      </div>

      <!-- Buttons -->
      <div class="flex justify-end gap-4">
        <button type="button" (click)="toggleEventForm()" class="bg-gray-500 text-white py-2 px-4 rounded-md hover:bg-gray-600 transition-all">
          <i class="pi pi-times mr-2"></i> Cancel
        </button>
        <button type="submit" class="bg-teal-600 text-white py-2 px-4 rounded-md hover:bg-success-dark transition-all">
          <i class="pi pi-check mr-2"></i> Submit
        </button>
      </div>
    </form>
  </div>


  <div class="font-[sans-serif] overflow-x-auto">
    <table value="events" class="min-w-full bg-white">
      <thead class="bg-teal-900 text-white">
        <tr>
          <th class="p-4 text-left text-sm font-semibold">
            <i class="pi pi-image mr-1"></i>Banner
          </th>
          <th class="p-4 text-left text-sm font-semibold">
            <i class="pi pi-tag mr-1"></i>Title
          </th>
          <th class="p-4 text-left text-sm font-semibold">
            <i class="pi pi-map-marker mr-1"></i>Location
          </th>
          <th class="p-4 text-left text-sm font-semibold">
            <i class="pi pi-calendar mr-1"></i>Date
          </th>
          <th class="p-4 text-left text-sm font-semibold">
            <i class="pi pi-info-circle mr-1"></i>Details
          </th>
        </tr>
      </thead>
      <tbody class="whitespace-nowrap divide-y divide-gray-200">
        <tr *ngFor="let event of events">
          <td class="p-4 text-sm">
            <div class="flex items-center">
              <img [src]="event?.base64EncodedImage || 'assests/home.jpg'" class="w-24 h-24 p-1.5 shrink-0 bg-gray-100" />
            </div>
          </td>
          <td class="p-4 text-sm text-black">
            {{ event?.title }}
          </td>
          <td class="p-4 text-sm text-black">
            {{ event?.location.county }}
          </td>
          <td class="p-4 text-sm text-black">
            {{ event?.eventDate | date: 'shortDate' }}
          </td>
          <td class="p-4 text-sm text-center">
            <button (click)="showViewEventModal(event)" class="bg-gray-500 text-white py-1 px-3 rounded-md hover:bg-gray-600">
              <i class="pi pi-eye"></i> View
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Pagination 
  <ul class="flex space-x-3 justify-center mt-8">
    <li class="flex items-center justify-center shrink-0 cursor-pointer bg-gray-300 w-9 h-8 rounded" (click)="previousPage()">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-3 fill-gray-500" viewBox="0 0 55.753 55.753">
        <path d="M12.745 23.915c.283-.282.59-.52.913-.727L35.266 1.581a5.4 5.4 0 0 1 7.637 7.638L24.294 27.828l18.705 18.706a5.4 5.4 0 0 1-7.636 7.637L13.658 32.464a5.367 5.367 0 0 1-.913-.727 5.367 5.367 0 0 1-1.572-3.911 5.369 5.369 0 0 1 1.572-3.911z" data-original="#000000" />
      </svg>
    </li>
    <li *ngFor="let page of visiblePages" class="flex items-center justify-center shrink-0 cursor-pointer text-sm font-bold text-[#333] w-9 h-8 rounded" 
        [class.bg-indigo-800]="page === currentPage"
        [class.text-white]="page === currentPage" 
        (click)="setPage(page)">
      {{page}}
    </li>
    <li class="flex items-center justify-center shrink-0 cursor-pointer bg-gray-300 w-9 h-8 rounded" (click)="nextPage()">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-3 fill-gray-500 rotate-180" viewBox="0 0 55.753 55.753">
        <path d="M12.745 23.915c.283-.282.59-.52.913-.727L35.266 1.581a5.4 5.4 0 0 1 7.637 7.638L24.294 27.828l18.705 18.706a5.4 5.4 0 0 1-7.636 7.637L13.658 32.464a5.367 5.367 0 0 1-.913-.727 5.367 5.367 0 0 1-1.572-3.911 5.369 5.369 0 0 1 1.572-3.911z" data-original="#000000" />
      </svg>
    </li>
  </ul>-->

  <!-- View Event Modal-->
  <div *ngIf="isViewing" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white p-6 rounded-md shadow-md relative w-full max-w-3xl mx-auto">
      <div class="flex justify-between items-center mb-4">
        <h2 class="text-xl font-semibold">Event Details</h2>
        <button (click)="closeViewEventModal()" class="text-gray-500 hover:text-gray-700">
          <i class="pi pi-times"></i>
        </button>
      </div>
      <div class="flex">
        <div class="w-2/3 pr-4">
          <div class="mb-4 flex items-center">
            <i class="pi pi-tag mr-2"></i>
            <div>
              <label class="text-sm font-medium">Title:</label>
              <input type="text" [(ngModel)]="selectedEvent.title" class="w-full p-2 border rounded-md">
            </div>
          </div>
          <div class="mb-4 flex items-center">
            <i class="pi pi-map-marker mr-2"></i>
            <div>
              <label class="text-sm font-medium">Location:</label>
              <input type="text" [(ngModel)]="selectedEvent.location.county" class="w-full p-2 border rounded-md">
            </div>
          </div>
          <div class="mb-4 flex items-center">
            <i class="pi pi-calendar mr-2"></i>
            <div>
              <label class="text-sm font-medium">Date:</label>
              <input type="date" [(ngModel)]="selectedEvent.eventDate" class="w-full p-2 border rounded-md">
            </div>
          </div>
          <div class="mb-4 flex items-center">
            <i class="pi pi-clock mr-2"></i>
            <div>
              <label class="text-sm font-medium">Time:</label>
              <input type="time" [(ngModel)]="selectedEvent.time" class="w-full p-2 border rounded-md">
            </div>
          </div>
          <div class="mb-4 flex items-center">
            <i class="pi pi-users mr-2"></i>
            <div>
              <label class="text-sm font-medium">Number of Attendees:</label>
              <input type="number" [(ngModel)]="totalTickets" class="w-full p-2 border rounded-md">
            </div>
          </div>
          <div class="mb-4 flex items-center">
            <i class="pi pi-align-left mr-2"></i>
            <div>
              <label class="text-sm font-medium">Description:</label>
              <textarea [(ngModel)]="selectedEvent.description" class="w-full p-2 border rounded-md"></textarea>
            </div>
          </div>
        </div>
        <div class="w-1/3">
          <div class="mb-4">
            <label class="text-sm font-medium mb-2">Banner Image:</label>
            <img [src]="selectedEvent?.base64EncodedImage || 'assests/home.png'" alt="Event Banner" class="w-full h-auto rounded-md" />
          </div>
        </div>
      </div>
      <div class="flex justify-end mt-4 gap-4">
        <button (click)="closeViewEventModal()" class="bg-gray-500 text-white py-2 px-4 rounded-md hover:bg-gray-600">
          <i class="pi pi-times mr-2"></i> Close
        </button>
        <button (click)="updateEvent()" class="bg-gray-500 text-white py-2 px-4 rounded-md hover:bg-gray-500">
          <i class="pi pi-check mr-2"></i> Update
        </button>
        <button (click)="deleteEvent(events.eventId)" class="bg-gray-500 text-white py-2 px-4 rounded-md hover:bg-gray-500">
          <i class="pi pi-trash mr-2"></i> Delete
        </button>
      </div>
    </div>
  </div> 
</div>